#root {
    /* margin: 0 auto;
    text-align: center; */
}

.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainLayout {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 0 6vw;
}

.loginPageContent {
    border: 1px solid rgb(158, 152, 152);
    border-radius: 4%;
    padding: 90px;
    background-color: white;
}

.headerTitle {
    text-align: center;
}

.searchVideo {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* width: 100%; */
    height: 100%;
    transition: transform 1s ease-in-out;
}

.searchCompleted {
    /* transform: translateY(-100px); */
}